h1, label, h3{
	color: #fff;
}

ul, li {

	list-style: none;

	padding: 0;

	margin: 0;

	font-size: 0px;

}

ul {

	width: 202px;

	margin: 0 auto;

}

li {

	display: inline-block;

}

.cell {

    border: 2px solid #777;

    margin: 2px;

    background: #fff;

    height: 60px;

    width: 60px;

    font-size: 20px;

    text-align: center;

    display: inline-block;

    vertical-align: top;

}

.cell.marked {

    background-color: #DEDC2F;

}

.cell.marked.player-1 {

    background-color: #F58C8C;

}