<app-cabecera>  </app-cabecera>



 
<div class="container" >
   
    <!--ul class="list-group">
        <li class="list-group-item list-group-item-danger">
           
                <div class="media-body">
                    <div class="hero-text">
                        <h4 >Menú Principal</h4>
                    </div>
                 </div>
               
             
          </li>
        <li class="list-group-item list-group-item-success">
          <a routerLink="/Juegos">
            <div class="media">
              <div class="media-left">
                    <img src="./assets/imagenes/juegos.png" class="media-object imagenDeMenu" >
              </div>
              <div class="media-body">
                <h4 class="media-heading">Juegos</h4>
                <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
              </div>
             
            </div> 
          </a>
        </li>
        <li class="list-group-item list-group-item-info">
            <a routerLink="/Listado">
              <div class="media">
                  <div class="media-left">
                      <img src="./assets/imagenes/check.jpg" class="media-object imagenDeMenu" >
                    </div>
                <div class="media-body">
                  <h4 class="media-heading">Listados de resultados</h4>
                  <p>Los listados de los resultados con ordenamiento y busqueda</p>
                </div>
                
              </div> 
            </a>
          </li>
        <li class="list-group-item list-group-item-warning">
          <a routerLink="/Juegos">
            <div class="media">
                <div class="media-left">
                    <img src="./assets/imagenes/config.jpg" class="media-object imagenDeMenu" >
                  </div>
              <div class="media-body">
                <h4 class="media-heading">Configuraci&oacute;n</h4>
                <p>Ajustes de la aplicacion y los métodos de autentificación</p>
              </div>
             
            </div> 
          </a>
        </li>
        <li class="list-group-item list-group-item-warning">
          <a routerLink="/Jugadores">
            <div class="media">
                <div class="media-left">
                    <img src="./assets/imagenes/two_player_game.png" class="media-object imagenDeMenu" >
                  </div>
              <div class="media-body">
                <h4 class="media-heading">Jugadores</h4>
                <p>Listado de jugadores</p>
              </div>
             
            </div> 
          </a>
        </li>
       
        
      </ul-->

      <section class="blog-section spad">
        <div class="container">
          <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-7">
              <div class="section-title text-white">
                <h2>Menu Principal</h2>
              </div>
              
              <div class="blog-item">
                <div class="blog-thumb">
                  <img routerLink="/Juegos" src="./assets/imagenes/juegos.png" alt="">
                </div>
                <div class="blog-text text-box text-white">
                  <a routerLink="/Juegos"><h3>Juegos</h3></a>
                  <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
                </div>
              </div>
              <!-- Blog item -->
              <div class="blog-item">
                <div class="blog-thumb">
                  <img routerLink="/Listado" src="./assets/imagenes/check.jpg" alt="">
                </div>
                <div class="blog-text text-box text-white">
                  <a routerLink="/Listado"><h3>Listados de resultados</h3></a>
                  <p>Los listados de los resultados con ordenamiento y busqueda</p>
                </div>
              </div>
              <!-- Blog item -->
              <div class="blog-item">
                <div class="blog-thumb">
                  <img routerLink="/Juegos" src="./assets/imagenes/config.jpg" alt="">
                </div>
                <div class="blog-text text-box text-white">
                  <a routerLink="/Juegos"><h3>Configuracion</h3></a>
                  <p>Ajustes de la aplicacion y los métodos de autentificación</p>
                </div>
              </div>
              <!-- Blog item -->
              <div class="blog-item">
                <div class="blog-thumb">
                  <img routerLink="/Jugadores" src="./assets/imagenes/two_player_game.png" alt="">
                </div>
                <div class="blog-text text-box text-white">
                  <a routerLink="/Jugadores"><h3>Jugadores</h3></a>
                  <p>Listado de jugadores</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </section>

</div>