<div class="container" >
    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/agilidad.png" alt="agilidad" style="width:100%">
      <h1>Velocidad y agilidad aritmética </h1>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
  
      <!--a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a--> 
      <p>           <button class="site-btn"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
    <div class="card">
      <img class="img-thumbnail" src="./assets/imagenes/piedra-papel-o-tijera.jpg" alt="ppt" style="width:100%">
      <h1>Piedra Papel o Tijera</h1>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      
      <!--a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a--> 
      <p>           <button class="site-btn"  (click)="Juego('ppt')">Jugar</button></p>
    </div>

    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/adivina.png" alt="adivina" style="width:100%">
      <h1>Adivina el número secreto</h1>
      <p class="title">Juego de estrategia</p>
      <p>UTN FRA </p>
      
      <!--a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a--> 
      <p>           <button class="site-btn"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>

    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/anagramas.jpg" alt="anagrama" style="width:100%">
      <h1>Anagrama</h1>
      <p class="title margin">Descubre la palabra</p>
      <p>UTN FRA </p>
      
      <!--a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a--> 
      <p>           <button class="site-btn"  (click)="Juego('Anagrama')">Jugar</button></p>
    </div>
  
    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/tateti.png" alt="tateti" style="width:100%">
      <h1>Ta Te Ti </h1>
      <p class="title margin">Juego </p>
      <p>UTN FRA </p>
  
      <!--a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a--> 
      <p>           <button class="site-btn"  (click)="Juego('tateti')">Jugar</button></p>
    
    </div>

    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/ahorcado.png" alt="ahorcado" style="width:100%">
      <h1>El juego del Ahorcado </h1>
      <p class="title">Juego de adivinanza</p>
      <p>UTN FRA </p>
  
      <!--a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a--> 
      <p>           <button class="site-btn"  (click)="Juego('ahorcado')">Jugar</button></p>
    
    </div>
  

  </div>