h1, h3{
	color: #fff;
}

h1{
	margin-bottom: 60px;
}

img{
	width: 65%;
}

.resultado{
	margin-top: 30px;
}

button{
	border:0;
    background:transparent;
}

button:hover {
    opacity: 0.8;
}

.nuevo{
	margin-top: 30px;
}