h1, h3, h4, label{
	color: #fff;
}

.ingreso{
	margin-top: 30px;
	margin-bottom: 30px;
}

.input-palabra{
	width: 100%;
}

.anagrama-row, .result{
	margin-top: 30px;
}

.anagrama-col{
	background-color: #081624;
	border-radius: 12px;
}

.exito{
	font-size: 36px;
}